<!DOCTYPE HTML>
<html>
<html>
  <head>
    <title>DublinDonuts EP</title>
    <link rel="stylesheet" href="../Content/bootstrap.css">
    <link rel="stylesheet" href="../Content/musicplayer.css">
<script type="text/javascript" src="../Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../Scripts/musicplayer.js"></script>
</head>

<body>
  <div class="nav">
    <div class="container">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="web-project.html">Web Project</a></li>
        <li><a href="http://blog.dublindonut.com">Blog</a></li>
        <li><a href="http://blog.dublindonut.com/aboutus">About Us</a></li>
      </ul>
    </div>
  </div>

  <div class="poster">
    <div class="container">
      <h1>DublinDonuts EP</h1>
    </div>
  </div>

  <div class="intro">
    <div class="container">
      <h2>Short and Sweet</h2>
      <p>These are a bunch of tracks I made from 2011-2014. Nothing too crazy. I'm not trying to step on Dillas toes by calling this Donuts -- this blog just happens to be called Dublin Donuts. But still, these tracks are short and just the tiniest bit sweet.</p>
      <p>Enjoy!</p>
    </div>
  </div>

  <div class="musicplayer">
    <div class="container">
      <p class="status">STATUS</p>
      <img src="../Content/Images/musicplayer/prev.png" href="#" class="prev"></a> 
      <img src="../Content/Images/musicplayer/play.png" href="#" class="play"></a>     
      <img src="../Content/Images/musicplayer/next.png" href="#" class="next"></a>
      <input type="range" id="seek" class="seek" value="0" max=""></input>
      <p class="time">00:00 / 00:00</p>

      <div class="volumecontainer">
        <img class="mute" src="../Content/Images/musicplayer/volume.png"></img>
        <input type="range" class="volume" value="1" max="1" step='.01'></input>
      </div>

      <p class="test"></p>

      <div class="playlist">
          <a href="javascript:void()" class="playlist-click"><b>PLAYLIST</b></a>
          <ul class="playlist-list">
          </ul>
      </div>
   </div>
  </div>







</body>
