<!doctype html>
<html>
<head>
<title>Pugs</title>
<link rel="stylesheet" href="../Content/bootstrap.css">
<link rel="stylesheet" href="../Content/pugs.css">
<script type="text/javascript" src="../Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../Scripts/jquery.cycle.all.js"></script>
<! <script type="text/javascript" src="../Scripts/pugs.js"!><!/script!>
</head>

<body>

	<div class="nav">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="web-project.html">Web Project</a></li>
				<li><a href="http://dublindonut.tumblr.com">Blog</a></li>
				<li><a href="http://dublindonut.tumblr.com/aboutus">About Us</a></li>
				<li><a href="http://reddit.com/r/pugs">/r/Pugs</a></li>
			</ul>

		</div>
	</div>


		<div class="intro">
			<div class="container">
				<h1>Walter Tan</h1>
				<p>Is it a good pug name? Or the best pug name!</p>
				<p><a href="http://i.imgur.com/d8DT3.gif">Click here to learn more</a></p>
			</div>
		</div>

	<div class="text-stuff">
		<div class="container">
			<h2>Not sure what color pugs there are?</h2>
			<p>PugLyfe can help you! Just look at these friendly faces: </p>
		</div>
		<div class="container">
			<div class="slideshow">
			        <div class="slides">
						<img src="../Content/Images/Pugs/pug1.jpg">
						<img src="../Content/Images/Pugs/pug2.jpg">
					</div>
					<div class="slides">
						<img src="../Content/Images/Pugs/pug3.jpg">
						<img src="../Content/Images/Pugs/pug4.jpg">
					</div>
					<div class="slides">
						<img src="../Content/Images/Pugs/pug5.jpg">
						<img src="../Content/Images/Pugs/pug6.jpg">
					</div>
			</div>	
		</div>
		<div class="container">
			<div class="pug-family">
				<h1> &lt;3</h1>
				</div>
		</div>


	</div>

	<div class="outro">
		<div class="container">
			<h2>Volunteer at the SPCA!</h2>
			<p>The Albrecth Center for Animal Welfare, in Aiken, South Carolina, has been putting needy animals into loving homes since 1935.</p>
			<p><a href="http://letlovelive.org/Volunteer.php">See what you can do to help!</a></p>
			<h2>Adopt a Pug Today!</h2>
			<p>Animal adoption can be incredibly rewarding.</p>
			<p><a href="https://www.petfinder.com/">Find a pug near you!</a></p>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<a href="http://instagram.com/pugs"><img src="../Content/Images/instagram-l.png"></a>
		</div>
	</div>


	</body>
</html>