<!DOCTYPE HTML>
<head>
<title>Round Timer</title>
<link rel="stylesheet" href="../Content/bootstrap.css">
<link rel="stylesheet" href="../Content/timer.css">
<script type="text/javascript" src="../Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../Scripts/timer.js"></script>
</head>
<body>
<div class="nav">
	<div class="container">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="web-project.html">Web Project</a></li>
			<li><a href="http://blog.dublindonut.com">Blog</a></li>
			<li><a href="http://blog.dublindonut.com/aboutus">About Us</a></li>
		</ul>	
	</div>
</div>
<div class="poster">
	<div class="container">
		<h1>>2014</h1>
		<h1>>based Lu timer</h1>
		<p><a href="http://youtu.be/d8u6MM00_ig?t=1m38s">did he jizz his pants?</a></p>
	</div>
</div>
<div class="main">
	<div class="instructions">
		<p><b>Step 1</b>: Type in positive integers into the rounds, work, and rest boxes. <b>Step 2</b>: Go workout!</p>
		<p>Some inspiration if you're not sure what to do:</p>
		<ul>
		<li>Tabata: 8 rounds of 20 seconds on 10 seconds off</li>
		<li>Westside Dynamic Effort / EMOM: 3 reps of a lift every minute on the minute for 10-15 minutes at 50-60% 1RM. Perform reps as fast as possible.</li>
	</ul>
	</div>
	<div class="input">
		<input id="rounds" placeholder="Rounds">
		<input id="work" placeholder="Work Interval (seconds)">
		<input id="rest" placeholder="Rest Interval (seconds)">
		<button class="ok">OK</button>
	</div>
	<div class="status">
		<p class="current-status">Current Status</p>
		<p class="progress-text">Progress</p>
		<div class="progress"><p class="progress-bar">0%</p></div>
	</div>
	<div class="function">
		<p class="timer">00 : 00 : 00</p>
	</div>
	<div class="button">
		<button class="start">Start</button>
		<button class="stop">Stop</button>
		<button class="reset">Reset</button>
	</div>
	<div>
		<p class="test">Test Text</p>
		<p class="test-2">Settings</p>
	</div>
</div>


</body>