.nav ul {
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: bold;
	color: gray;
	font-size: 12px;
	padding: 0px;
}

.nav li {
	display: inline;
	padding: 10px;
	color: gray;
}

.nav a {
	color: black;
}