nav {
    position:fixed;
    top:50%;
    left:50%;
}
nav ul {
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 0 #FFF;
    background: #FFF;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
nav a {
    background: #FFF;
    color: #444;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav li:hover a {
    background: #ccc;
}
nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .55s ease;
       -moz-transition: all .55s ease;
        -ms-transition: all .55s ease;
         -o-transition: all .55s ease;
            transition: all .55s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
    margin-top:-270%;
}