.nav ul {
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: bold;
	color: gray;
	font-size: 12px;
	padding: 0px;
}

.nav li {
	display: inline;
	padding: 10px;
	color: gray;
}

.nav a {
	color: black;
}

h2 {
	font-weight: bold;
	font-size: 75px;
}

.slider {
	height: 400px;
	position: relative;
	width: 100%;
}

.slide {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
}

.active-slide {
	display:inline;
	height: 500px;
}

.slider-nav {
	text-align: center;
	font-family: webdings;
	font-size: 50px;
	margin-top: 100px;
}

.slider-nav :hover {
	text-decoration: none;
	color: darkblue;
}

.music {
	background-image: url('../Content/Images/slider/slider.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.pug {
	background-image: url('../Content/Images/Pugs/pug_family.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.fitness {
	background-image: url('../Content/Images/timer/timer.jpg');
	background-repeat: no-repeat;
	/*background-size: cover;*/
	height: 500px;
}

.reading {
	background-image: url('../Content/Images/slider/reading.jpg');
	background-repeat: no-repeat;
	/*background-size: cover;*/
	height: 500px;
}