/* use a . to point to a class from the html
   use a # to point to an id from html
   It's the same when you use jQuery and javascript btw*/

.nav ul {
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: bold;
	color: gray;
	font-size: 12px;
	padding: 0px;
}

.nav li {
	display: inline;
	padding: 10px;
	color: gray;
}

.nav a {
	color: black;
}

.main {
	text-align: center;
}

.main .status .current-status{
	font-size: 30px;
	font-weight: bold;
}

.main .status .progress {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.main .status .progress-bar{
	width: 0%;
}

.main .instructions ul {
	list-style-type: none;
	padding: 0px;
}

.poster {
	background-image: url("../Content/Images/timer/timer.jpg");
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
}

.poster .container{
	padding: 100px;
}

.poster .container a {
	color: white;
}

.poster .container a:hover {
	color: white;
}

.poster h1 {
	color: white;
	font-weight: bold;
	font-size: 100px;
	margin: 0px;
}

.poster p {
	color: white;
	font-style: italic;
	text-align: center;
}

.main .function p {
	font-size: 50px;
	font-weight: bold;
	background-color: white;
}

.main .input {
	padding: 20px;
}